@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background: rgba(168, 131, 116, 0.1);

  animation: floatUp linear infinite;
}

.tikl{
  margin-top: 20px;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}