@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background: rgba(168, 131, 116, 0.1);

  animation: floatUp linear infinite;
}

.tikl{
  margin-top: 20px;
}

.social-btn {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: white;

  color: #a88374;

  box-shadow:
    0 10px 30px rgba(0,0,0,.08);

  transition: all .3s ease;
}

.social-btn:hover {
  transform:
    translateY(-5px)
    scale(1.08);

  background: #a88374;
  color: white;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}